---
const personalImageAlt = "Sofía Navas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#7bd3ea] dark:[&>p>strong]:text-[#AFD] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Sofía Navas. Durante 20 años trabajé como <strong
        >profesora de inglés</strong
      >, hasta que en 2023 decidí cambiar de rumbo y adentrarme en el mundo de
      la programación.
    </p>

    <p>
      Desde entonces, me he estado formando en
      <strong
        >HTML, CSS, Sass, Tailwind, JavaScript, React, React Native, TypeScript
        y Astro</strong
      >, enfocándome en el <strong
        >front-end y la experiencia del usuario</strong
      >, que es lo que realmente me apasiona. Para tener una visión más completa
      de cómo funcionan las aplicaciones web, también hice un curso de
      <strong>backend</strong>, donde adquirí nociones de <strong
        >MongoDB, Express.js, JWT, WebSocket y Firebase</strong
      >. Actualmente, aplico estos conocimientos en una empresa de marketing
      digital, donde trabajo en
      <strong
        >mantenimiento, producción de landing pages y diseño de emails</strong
      >.
    </p>

    <p>
      Disfruto enfrentando nuevos desafíos y evolucionando en el desarrollo web.
      Me motiva formar parte de equipos donde pueda aportar mis habilidades,
      seguir aprendiendo y crecer profesionalmente en el sector tecnológico.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="img/sofi-perfil.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
