---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:sofianavasd@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-[#FAA] dark:hover:text-[#FAA] text-xs sm:text-[16px]"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-[#FAA]");
            } else {
              item.classList.remove("text-[#FAA]");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  nav {
    animation: nav-shadow 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    background-color: rgba(255, 255, 255, 0.5); /* bg-white/50 */
  }

  @media (prefers-color-scheme: dark) {
    nav {
      background-color: rgba(31, 41, 55, 0.9); /* dark:bg-gray-800/90 */
    }
  }

  @keyframes nav-shadow {
    0% {
      background-color: rgba(255, 255, 255, 0); /* bg-white/0 */
      /* Para modo oscuro */
      /* background-color: rgba(31, 41, 55, 0);  dark:bg-gray-800/0 */
    }
    100% {
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); /* shadow-lg */
      backdrop-filter: blur(10px); /* backdrop-blur */
      border: 1px solid rgba(255, 255, 255, 0.1); /* ring-1 ring-white/10 */
    }
  }
</style>
